<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }} — {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/style.css' | relative_url }}" />
</head>
<body>

  <nav>
    [[<a href="{{ '/' | relative_url }}"@main</a>]]
    [[<a href="{{ '/Code Code.html' | relative_url }}">about</a>]]
    [[<a href="{{ '/Resume.html' | relative_url }}">resume</a>]]
    [[<a href="{{ '/CTF.html' | relative_url }}">ctf</a>]]
  </nav>

  {{ content }}

  <footer>
    <hr />
    <p>([<a href="mailto:you@example.com">Email</a>] || [<a href="https://github.com/redmach">GitHub</a>])</p>
    <p>© 2026 redmach</p>
  </footer>

</body>
</html>
